<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Download Files</title>
</head>
<body>
    <h1>Download Files</h1>

    <!-- List of files with download links -->
    <ul>
        {% for file in files %}
            <li>
                <a href="{{ url_for('download_file', file_id=file[0]) }}">{{ file[1] }}</a>
            </li>
        {% endfor %}
    </ul>

    <br>
    <a href="/">Go to Upload Page</a>
</body>
</html>
